@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Russo+One:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --font-sans: 'Inter', sans-serif;          
  --font-serif: 'Russo One', serif;  
  --color-background: #f9f9f9;           
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  line-height: 1.6;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: inherit; 
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}
